@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  color: #e5e5e5;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer utilities {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
}

/* Global Prose Overrides */
.prose a {
  color: #fbbf24 !important;
  /* amber-400 equivalent for high visibility */
  text-decoration: none;
  border-bottom: 1px solid rgba(251, 191, 36, 0.3);
  transition: all 0.2s ease;
}

.prose a:hover {
  color: #fcd34d !important;
  /* amber-300 */
  border-bottom-color: #fcd34d;
}

/* Force Center All Images in Prose */
.prose img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}